    <div class="content">
      <div class="row articles" (scroll)="onScroll($event)" *ngIf="articles.length > 0">
        <oivan-card
          *ngFor="let article of articles"
          [title]="article.title"
          [subTitle]="article.subtitle"
          [img]="article.coverImageUrl"
          [description]="article.description"
          [url]="article.url"
          (click) ="gotoDetail(article)"
          class="col-2-2 col-md-6 col-xs-12"
        >
        </oivan-card>
      </div>
      <div *ngIf="loading">
        <oivan-progress-spinner height="30" width="30"></oivan-progress-spinner>
      </div>
    </div>
