.toolbar {
  padding: 0 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #e67e22;
  color: white;
  font-weight: 600;
  column-gap: 10px;
  width: 100%;
  z-index: 1;

  .app-name {
    color: #095c67;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  .navbar {
    display: flex;
    column-gap: 10px;
  }
  img {
    width: 25px;
    cursor: pointer;

    &.menu-icon {
      display: none;
    }
  }
}

@media screen and (max-width: 750px) {
  .toolbar {
    .navbar {
      display: none;
    }
    img {
      &.menu-icon {
        display: flex;
      }
    }
  }
}
